body {

    font-family: 'Oxygen', sans-serif;
    height: 100vh;
    background: rgb(238, 69, 64);
    background: linear-gradient(
      180deg,
      rgba(238, 69, 64, 1) 0%,
      rgb(231, 108, 26) 15%,
      rgb(237, 241, 21) 30%,
      rgb(14, 216, 81) 45%,
      rgb(27, 255, 205) 100%
    );

}